body
  font-family: sans-serif
  
img
  max-width: 100%

.container
  width: 1170px
  margin: auto


@media (max-width: 1200px)
  .container
    max-width: 1170px
    width: 95%
    
@media (max-width: 768px)
  .container
    max-width: 750px
    width: 95%

@media (max-width: 567px)
  .container
    max-width: 550px
    width: 100%

.button
  border-radius: 10px
  background-color: $main-color
  border: solid 1px $main-color
  cursor: pointer
  &:hover
    background-color: $hover-color
    border: solid 1px $main-color
    outline: 0
    outline-offset: 0
  &:active
    outline: 0
    outline-offset: 0
  &:focus
    outline: 0
    outline-offset: 0
