.offer
  background: url('../img/offer/offer-image.png') no-repeat
  background-size: contain
  background-position: center right
  position: relative
  &::before
    content: ""
    width: 50% 
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-color: $white-color
  &-block
    width: 50% 
    padding-right: 90px
    position: relative
    &__title
      margin-bottom: 20px
      max-width: 360px 
      +bold
      font-size: 24px
      line-height: 35px
    &__subtitle
      display: block
      margin-bottom: 34px 
      max-width: 250px 
      font-size: 16px
      font-weight: 400
  &__input
    padding: 25px 
    width: 240px
    height: 60px
    margin-bottom: 30px 
    &:first-child
      margin-right: 10px
  &__button
    width: 100%
    min-height: 70px
    margin-bottom: 28px
    font-size: 16px
  &-contacts
    display: flex
    font-size: 15px
    line-height: 24px
    &__phone
      display: block
      color: $text-color
      text-decoration: none
      +bold
    &__span
      width: 50%
      margin-right: 80px
      &:last-child
        margin-right: 0
        
@media (max-width: 1200px)
  .offer
    background-size: cover
    &__input
      width: 100%
      margin-right: 0
      margin-bottom: 10px
    &__button
      font-size: 13px
    

@media (max-width: 768px)
  .offer
    background: #fff
    &__input
      width: 100%
      margin-bottom: 10px
    &-block
      width: 100%
      padding-right: 0
    &__button
      font-size: 13px