.top
  position: fixed
  right: 0
  top: 90%
  &-button
    display: none
    position: relative
    width: 60px
    height: 60px
    border: 2px solid lighten($main-color, 10%)
    border-radius: 50%
    background-color: transparent
    color: gray
    &_show
      display: block
    &:hover
      background-color: $main-color
      border: solid 1px $main-color
      color: #000
    &_hiden
      display: none
    &__text
      display: block
      font-size: 30px
      font-weight: bold
      line-height: 15px
    


      

    
